includes:
    - ./vendor/larastan/larastan/extension.neon
    - phpstan-baseline.neon

parameters:
    level: 5
    paths:
        - src
        - config
        - database/migrations/create_balances_table.php.stub
        - database/migrations/create_balance_states_table.php.stub
        - database/migrations/create_transactions_table.php.stub
    tmpDir: build/phpstan
    checkOctaneCompatibility: true
    checkMissingIterableValueType: false

    ignoreErrors:
        - '#Unsafe usage of new static#'
        # wildcard permissions:
        - '#Call to an undefined method Illuminate\\Database\\Eloquent\\Model::getWildcardClass#'
        - '#Call to an undefined method Illuminate\\Database\\Eloquent\\Model::getAllPermissions#'
